{{- if .Values.guardrail.enabled }}
apiVersion: apps.nvidia.com/v1alpha1
kind: NemoGuardrail
metadata:
  name: {{ .Values.guardrail.name }}
  namespace: {{ .Values.namespace.name }}
spec:
  # required if a NIM endpoint is hosted by NVIDIA
  configStore:
    pvc:
      name: {{ .Values.guardrail.configStorePVC.name | quote }}
      create: {{ .Values.guardrail.configStorePVC.create }}
      storageClass: {{ .Values.storage.storageClass | quote }}
      volumeAccessMode: {{ .Values.storage.volumeAccessMode }}
      size: {{ .Values.guardrail.configStorePVC.size | quote }}
  nimEndpoint:
    {{- if and (hasKey .Values.guardrail "nimEndpoint") (hasKey .Values.guardrail.nimEndpoint "serviceName") (ne .Values.guardrail.nimEndpoint.serviceName "") }}
    {{- $nimServiceName := .Values.guardrail.nimEndpoint.serviceName }}
    {{- $nimServiceSuffix := "" }}
    {{- if hasKey .Values.guardrail.nimEndpoint "serviceSuffix" }}
      {{- $nimServiceSuffix = .Values.guardrail.nimEndpoint.serviceSuffix }}
    {{- end }}
    {{- $nimNamespace := .Values.namespace.name }}
    {{- if hasKey .Values.guardrail.nimEndpoint "namespace" }}
      {{- if ne .Values.guardrail.nimEndpoint.namespace "" }}
        {{- $nimNamespace = .Values.guardrail.nimEndpoint.namespace }}
      {{- end }}
    {{- end }}
    {{- $nimPort := "8000" }}
    {{- if hasKey .Values.guardrail.nimEndpoint "port" }}
      {{- if ne .Values.guardrail.nimEndpoint.port "" }}
        {{- $nimPort = .Values.guardrail.nimEndpoint.port }}
      {{- end }}
    {{- end }}
    baseURL: http://{{ $nimServiceName }}{{ $nimServiceSuffix }}.{{ $nimNamespace }}.svc.cluster.local:{{ $nimPort }}/v1
    {{- else }}
    # Default fallback (if not configured, use meta-llama3-1b-instruct)
    baseURL: http://meta-llama3-1b-instruct.{{ .Values.namespace.name }}.svc.cluster.local:8000/v1
    {{- end }}
  databaseConfig:
    host: nemo-infra-guardrail-postgresql.{{ .Values.namespace.name }}.svc.cluster.local
    port: {{ .Values.guardrail.database.port }}
    databaseName: {{ .Values.guardrail.database.databaseName }}
    credentials:
      user: {{ .Values.guardrail.database.user }}
      secretName: {{ .Values.guardrail.database.secretName }}
      passwordKey: {{ .Values.guardrail.database.passwordKey }}
  expose:
    service:
      type: ClusterIP
      port: 8000
  image:
    repository: {{ .Values.guardrail.image.repository }}
    tag: {{ .Values.guardrail.image.tag | quote }}
    pullPolicy: {{ .Values.guardrail.image.pullPolicy }}
    pullSecrets:
      - ngc-secret
  metrics:
    serviceMonitor: {}
  replicas: {{ .Values.guardrail.replicas }}
  resources:
{{- toYaml .Values.guardrail.resources | nindent 4 }}
{{- end }}

