{{- /*
PostgreSQL Secrets Template
Automatically creates PostgreSQL secrets by reading passwords from infrastructure PostgreSQL secrets.
Falls back to defaults from values.yaml if infrastructure secrets don't exist.
*/}}
{{- $namespace := .Values.namespace.name }}

{{- /* Customizer PostgreSQL Secret */}}
{{- if .Values.customizer.enabled }}
{{- $infraSecret := lookup "v1" "Secret" $namespace "nemo-infra-customizer-postgresql" }}
{{- $password := "" }}
{{- if $infraSecret }}
  {{- $password = index $infraSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = .Values.postgresqlSecrets.customizer.password | default "ncspassword" }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.customizer.database.secretName }}
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: customizer
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}

{{- /* Datastore PostgreSQL Secret */}}
{{- if .Values.datastore.enabled }}
{{- $infraSecret := lookup "v1" "Secret" $namespace "nemo-infra-datastore-postgresql" }}
{{- $password := "" }}
{{- if $infraSecret }}
  {{- $password = index $infraSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = .Values.postgresqlSecrets.datastore.password | default "ndspass" }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.datastore.database.secretName }}
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: datastore
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}

{{- /* Entity Store PostgreSQL Secret */}}
{{- if .Values.entitystore.enabled }}
{{- $infraSecret := lookup "v1" "Secret" $namespace "nemo-infra-entity-store-postgresql" }}
{{- $password := "" }}
{{- if $infraSecret }}
  {{- $password = index $infraSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = .Values.postgresqlSecrets.entitystore.password | default "nespass" }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.entitystore.database.secretName }}
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: entitystore
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}

{{- /* Evaluator PostgreSQL Secret */}}
{{- if .Values.evaluator.enabled }}
{{- $infraSecret := lookup "v1" "Secret" $namespace "nemo-infra-evaluator-postgresql" }}
{{- $password := "" }}
{{- if $infraSecret }}
  {{- $password = index $infraSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = .Values.postgresqlSecrets.evaluator.password | default "evalpass" }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.evaluator.database.secretName }}
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: evaluator
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}

{{- /* Guardrail PostgreSQL Secret */}}
{{- if .Values.guardrail.enabled }}
{{- $infraSecret := lookup "v1" "Secret" $namespace "nemo-infra-guardrail-postgresql" }}
{{- $password := "" }}
{{- if $infraSecret }}
  {{- $password = index $infraSecret.data "password" | b64dec }}
{{- else }}
  {{- $password = .Values.postgresqlSecrets.guardrail.password | default "guardrailpass" }}
{{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.guardrail.database.secretName }}
  namespace: {{ $namespace }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: guardrail
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  password: {{ $password | quote }}
{{- end }}

