{{- if .Values.customizer.enabled }}
# WandB secret required by NemoCustomizer
# The CRD requires wandb section, so this secret must always exist
# Created with empty values by default (wandb functionality is optional)
# For production with WandB, override these values via --set flags
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.customizer.wandb.secretName }}
  namespace: {{ .Values.namespace.name }}
  labels:
    app.kubernetes.io/name: nemo-instances
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: customizer
    app.kubernetes.io/part-of: nemo-instances
type: Opaque
stringData:
  {{ .Values.customizer.wandb.apiKeyKey }}: {{ .Values.customizer.wandb.apiKey | default "" | quote }}
  {{ .Values.customizer.wandb.encryptionKey }}: {{ .Values.customizer.wandb.encryptionKeyValue | default "" | quote }}
{{- end }}

